{% extends "base/main.html" %}
{% load static %}
{% block content %}

<main>
    <section id="form-container">
        <img id="logo" src="{% static 'images/chat-icon.png' %}" />
        <div id="welcome-message">
            <h1>Welcome to Room.io</h1>
            <!-- <p>Join the conversation and connect with others.</p> -->
        </div>
    <form id="form">
        <div class="form-field">
            <input type="text" id="roomNameInput" name="room" placeholder="Enter room name..." style="text-transform: uppercase;"/>
        </div>
        <div class="form-field">
            <input type="text" id="nameInput" name="username" placeholder="Enter your name..." style="text-transform: uppercase;"/>
        </div>
        <div>
            <label>
                <input type="radio" name="is_public" value="True" checked>
                Public
            </label>
            <label>
                <input type="radio" name="is_public" value="False">
                Private
            </label>
        </div>


        <div class="form-field">
            <input type="submit" value="Join Stream" style="font-family: 'Savate', Arial, sans-serif;"/>
        </div>
        
        <div class="form-field">
            <a href="{% url 'public_rooms' %}" 
            style="
                display: block;
                width: 100%;
                margin-top: 18px;
                background: #4b5dac;
                color: #fff;
                padding: 12px 0;
                border: none;
                border-radius: 6px;
                text-align: center;
                text-decoration: none;
                transition: background 0.2s;
            "
            onmouseover="this.style.background='#6c7ae0'"
            onmouseout="this.style.background='#4b5dac'">
            Find Public Room
            </a>
        </div>

        

    </form>
</main>

<script type="text/javascript" >
    const params = new URLSearchParams(window.location.search);
    const roomName = params.get('room_name');
    // If present, set the input value; if not, leave it empty
    if (roomName) {
        document.getElementById('roomNameInput').value = roomName;
    }
    let form = document.getElementById("form")
    let handleSubmit = async (e) => {
        e.preventDefault()

        let room = e.target.room.value.toUpperCase()
        let name = e.target.username.value
        let response = await fetch(`/getToken/?channel=${room}`)
        let data = await response.json()
        let UID = data.uid
        let token = data.token
        let is_public = e.target.is_public.value
        sessionStorage.setItem("room", room)
        sessionStorage.setItem("UID", UID)
        sessionStorage.setItem("token", token)
        sessionStorage.setItem("name", name)
        sessionStorage.setItem("is_public", is_public)
        window.open('/room/', '_self')
    }

    form.addEventListener("submit", handleSubmit)
</script>

 
{% endblock content %}
